In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os


movies_data=pd.read_csv('Dataset/tmdb_5000_movies.csv')
credits_data=pd.read_csv('Dataset/tmdb_5000_credits.csv')

movies_data= movies_data.merge(credits_data, on='title', how='inner')

In [5]:
movies_data.head(1)

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...

[1 rows x 23 columns]

In [6]:
movies= movies_data[['movie_id', 'title', 'genres', 'keywords', 'overview', 'cast', 'crew']]
movies.head(1)

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...

[1 rows x 7 columns]

In [7]:
movies.isnull().sum()

movie_id    0
title       0
genres      0
keywords    0
overview    3
cast        0
crew        0
dtype: int64

In [8]:
movies.dropna(inplace=True)

C:\Users\ahmed\AppData\Local\Temp\ipykernel_14792\3786870272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

In [9]:
movies.duplicated().sum()

np.int64(0)

In [10]:
import ast

def process_genre(text):
    list=[]
    for i in ast.literal_eval(text):
        list.append(i['name'])

    return list

In [11]:
movies['genres'] = movies['genres'].apply(process_genre)

C:\Users\ahmed\AppData\Local\Temp\ipykernel_14792\964085192.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres'] = movies['genres'].apply(process_genre)

In [12]:
movies['keywords'] = movies['keywords'].apply(process_genre)

C:\Users\ahmed\AppData\Local\Temp\ipykernel_14792\3052023029.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords'] = movies['keywords'].apply(process_genre)

In [13]:
def process_cast(text):
    list=[]
    count=0
    for i in ast.literal_eval(text):
        if count < 3:
         list.append(i['name'])
        count += 1


    return list

In [14]:
movies['cast'] = movies['cast'].apply(process_cast)
movies.head(2)

C:\Users\ahmed\AppData\Local\Temp\ipykernel_14792\3746430043.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast'] = movies['cast'].apply(process_cast)

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...

[2 rows x 7 columns]

In [15]:
def process_crew(text):
    list=[]
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
         list.append(i['name'])
         break

    return list

In [16]:
movies['crew'] = movies['crew'].apply(process_crew)
movies.head(2)

C:\Users\ahmed\AppData\Local\Temp\ipykernel_14792\2193016847.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['crew'] = movies['crew'].apply(process_crew)

   movie_id  ...              crew
0     19995  ...   [James Cameron]
1       285  ...  [Gore Verbinski]

[2 rows x 7 columns]

In [17]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())
movies.head(2)

C:\Users\ahmed\AppData\Local\Temp\ipykernel_14792\2980221370.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['overview'] = movies['overview'].apply(lambda x: x.split())

   movie_id  ...              crew
0     19995  ...   [James Cameron]
1       285  ...  [Gore Verbinski]

[2 rows x 7 columns]

In [18]:
movies['genres'] = movies['genres'].apply(lambda x: [i.replace(" ", "") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(" ", "") for i in x])
movies['cast'] = movies['cast'].apply(lambda x: [i.replace(" ", "") for i in x])
movies['crew'] = movies['crew'].apply(lambda x: [i.replace(" ", "") for i in x])

C:\Users\ahmed\AppData\Local\Temp\ipykernel_14792\2213953328.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres'] = movies['genres'].apply(lambda x: [i.replace(" ", "") for i in x])
C:\Users\ahmed\AppData\Local\Temp\ipykernel_14792\2213953328.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(" ", "") for i in x])
C:\Users\ahmed\AppData\Local\Temp\ipykernel_14792\2213953328.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast'] = movies['cast'].apply(lambda x: [i.replace(" ", "") for i in x])
C:\Users\ahmed\AppData\Local\Temp\ipykernel_14792\2213953328.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['crew'] = movies['crew'].apply(lambda x: [i.replace(" ", "") for i in x])

In [19]:
movies['tags']= movies['overview'] + movies['keywords'] + movies['cast'] + movies['crew'] + movies['genres']

C:\Users\ahmed\AppData\Local\Temp\ipykernel_14792\1383866060.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags']= movies['overview'] + movies['keywords'] + movies['cast'] + movies['crew'] + movies['genres']

In [20]:
movies.head(2)

   movie_id  ...                                               tags
0     19995  ...  [In, the, 22nd, century,, a, paraplegic, Marin...
1       285  ...  [Captain, Barbossa,, long, believed, to, be, d...

[2 rows x 8 columns]

In [21]:
new_movies = movies[['movie_id', 'title', 'tags']]
new_movies['tags'] = new_movies['tags'].apply(lambda x: " ".join(x))

C:\Users\ahmed\AppData\Local\Temp\ipykernel_14792\4228810042.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags'] = new_movies['tags'].apply(lambda x: " ".join(x))

In [22]:
new_movies.head(2)

   movie_id  ...                                               tags
0     19995  ...  In the 22nd century, a paraplegic Marine is di...
1       285  ...  Captain Barbossa, long believed to be dead, ha...

[2 rows x 3 columns]

In [23]:
new_movies['tags'] = new_movies['tags'].apply(lambda x: x.lower())

C:\Users\ahmed\AppData\Local\Temp\ipykernel_14792\1586435607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags'] = new_movies['tags'].apply(lambda x: x.lower())

In [24]:
from sklearn.feature_extraction.text import CountVectorizer
count_vectorizer = CountVectorizer(max_features=5000, stop_words='english')

In [28]:
vector = count_vectorizer.fit_transform(new_movies['tags']).toarray()
count_vectorizer.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      shape=(5000,), dtype=object)